<div class="container-fluid">

    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Employees
                <small>Personnel Administration</small>
            </h1>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i>  <a routerLink='/dashboard'>Dashboard</a>
                </li>
                <li class="active">
                    <i class="glyphicon glyphicon-user"></i> Employees
                </li>
            </ol>
        </div>
    </div>

    <div class="row">


        <div class="col-lg-12">

            <div class="panel panel-default panel-table">
              <div class="panel-heading">
                <div class="row">
                <div class="col col-xs-8">
                    <button type="button" class="btn btn-md btn-primary btn-create" routerLink="/employees/new">New Employee</button>
                </div>
                <div class="col col-xs-4  text-right">
                   <div class="input-group">
                       <input type="text" class="form-control" [(ngModel)]="q" name="q">
                       <span class="input-group-btn"><button class="btn btn-default" (click)="search()" type="button"><i class="fa fa-search"></i></button></span>     
                   </div>
               </div>

           </div>
       </div>
       <div class="panel-body">
        <table class="table table-bordered table-hover table-striped" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Code</th>
                    <th>Full Name</th>
                    <th>Grade</th>
                    <th>Division</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let employee of employees">
                    <td><a (click)="gotoDetail(employee.id)">{{employee.code}}</a></td>
                    <td>{{employee.first_name}} {{employee.last_name}}</td>
                    <td>{{employee.grade}}</td>
                    <td>{{employee.division}}</td>
                </tr>
            </tbody>
        </table>   

    </div>
    <div class="panel-footer">
        <div class="row">
          <div class="col col-xs-4">Page {{ page }} of {{ totalPage }}
          </div>
          <div class="col col-xs-8">
            <ul class="pagination hidden-xs pull-right remove-margin">
              <li><a href="#">«</a></li>
              <li class="active"><a href="#">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">4</a></li>
              <li><a href="#">5</a></li>
              <li><a href="#">»</a></li>
          </ul>
      </div>
  </div>
</div>
</div>

</div>
</div>
</div>